/** chunkA.css **/
.foo {
  color: red;
}
.bar {
  color: yellow;
}

/** chunkB.css **/
.baz {
  color: blue;
}

/** griffel.css **/
.fcnqdeg {
  background-color: green;
}
.fe3e8s9 {
  color: red;
}
