.hero {
  border-radius: 100px;
  background: #000;
  position: relative;
  overflow: hidden;
}

.heroContainer {
  margin: initial;
  width: 50%;
  z-index: 1;
}

.heroTitle {
  font-size: 70px;
}

.heroSubtitle {
  margin-bottom: 0;
}

.ctaContainer {
  align-items: center;
  display: flex;
  gap: 12px;
  margin-top: 48px;
}

.githubButton {
  height: 32px;
}

.codeContainer > div {
  margin-bottom: 0;
}

.meshA {
  position: absolute;
  left: 20%;
  top: -20%;

  background: linear-gradient(0deg, rgba(130, 48, 255, 0.2), rgba(130, 48, 255, 0.2));
  border-radius: 150px;
  transform: rotate(135deg);

  width: 670px;
  height: 770px;
}

.meshB {
  position: absolute;
  bottom: -30%;
  right: 10%;

  background: linear-gradient(0deg, rgba(130, 48, 255), rgba(130, 48, 255));
  border-radius: 150px;
  transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);

  width: 540px;
  height: 625px;
}

.content {
  margin-top: 40px;
}

.feature {
  color: #54de62;
}

@media (max-width: 481px) {
  .hero {
    border-radius: 0;
    padding: 48px 48px 48px 25px;
  }

  .heroTitle {
    font-size: 32px;
  }

  .heroSubtitle {
    font-size: 20px;
  }

  .ctaContainer {
    align-items: start;
    flex-direction: column;
  }
}

@media (max-width: 680px) {
  .hero {
    padding: 48px 48px 48px 25px;
  }
}

@media (max-width: 960px) {
  .heroContainer {
    width: 100%;
  }
}
