@keyframes heroIn {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  40% {
    opacity: 0.8;
    transform: translateY(400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes meshAMove {
  0% {
    transform: translateX(300px) translateY(0);
  }

  40% {
    transform: translateX(-100px) translateY(-300px);
  }

  60% {
    transform: translateX(0px) translateY(0);
  }

  100% {
    transform: translateX(300px) translateY(0);
  }
}

@keyframes meshBMove {
  0% {
    transform: translateX(-300px) translateY(300px);
  }

  40% {
    transform: translateX(100px) translateY(-100px);
  }

  60% {
    transform: translateX(0) translateY(0);
  }

  100% {
    transform: translateX(-300px) translateY(300px);
  }
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(0);
  }

  50% {
    filter: hue-rotate(250deg);
  }

  100% {
    filter: hue-rotate(0);
  }
}

.hero {
  border-radius: 100px;
  background: #000;
  position: relative;
  overflow: hidden;
}

.heroContainer {
  animation-name: heroIn;
  animation-duration: 1s;
  margin: initial;
  width: 50%;
  z-index: 1;
}

.heroTitle {
  font-size: 70px;
}

.heroSubtitle {
  margin-bottom: 0;
}

.ctaContainer {
  align-items: center;
  display: flex;
  gap: 12px;
  margin-top: 48px;
}

.githubButton {
  height: 32px;
}

.codeContainer > div {
  margin-bottom: 0;
}

.meshA,
.meshB {
  animation-duration: 10s, 14s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  animation-composition: accumulate;

  border-radius: 150px;
  position: absolute;

  box-shadow: inset -20px 25px 15px -3px rgba(0, 0, 0, 0.1), inset -80px 80px 15px -3px rgba(0, 0, 0, 0.05);
}

.meshA {
  animation-name: meshAMove, colorChange;

  left: 20%;
  top: -20%;

  background: linear-gradient(0deg, rgba(130, 48, 255, 0.2), rgba(130, 48, 255, 0.2));
  transform: rotate(135deg);

  width: 670px;
  height: 770px;
}

.meshB {
  animation-name: meshBMove, colorChange;

  bottom: -30%;
  right: 10%;

  background: linear-gradient(0deg, rgba(130, 48, 255), rgba(130, 48, 255));
  transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);

  width: 540px;
  height: 625px;
}

.content {
  margin-top: 40px;
}

.feature {
  color: #54de62;
}

@media (max-width: 481px) {
  .hero {
    border-radius: 0;
    padding: 48px 48px 48px 25px;
  }

  .heroTitle {
    font-size: 32px;
  }

  .heroSubtitle {
    font-size: 20px;
  }

  .ctaContainer {
    align-items: start;
    flex-direction: column;
  }
}

@media (max-width: 680px) {
  .hero {
    padding: 48px 48px 48px 25px;
  }
}

@media (max-width: 960px) {
  .heroContainer {
    width: 100%;
  }
}
