/** griffel.css **/
.f1vilie2 {
  border: 3px solid red;
}
.f65sxns {
  background: green;
}
.fe3e8s9 {
  color: red;
}
.fycuoez {
  padding-left: 4px;
}
.f8wuabp {
  padding-right: 4px;
}
.fcnqdeg {
  background-color: green;
}
.faf35ka:hover {
  color: red;
}
