.container {
  display: flex;
  gap: 8px;
  font-size: 24px;
}

.githubLink {
  color: var(--ifm-color-content);
  display: flex;
  outline-offset: 2px;
  font-size: 32px;
}

.githubLink:hover {
  color: var(--ifm-color-content-secondary);
}
