.frolweh {
  border: 2px dashed #f0f;
}
.f4khpsj {
  border-radius: 5px;
}
.f165xgdd {
  gap: 5px;
}
.fbhmu18 {
  padding: 10px;
}
.f22iagw {
  display: flex;
}
.f1vx9l62 {
  flex-direction: column;
}
.f45u8dm {
  width: 200px;
}
