.f22iagw {
  display: flex;
}
.f1vx9l62 {
  flex-direction: column;
}
.f45u8dm {
  width: 200px;
}
.ftac7j7 {
  border-top-width: 2px;
}
.f1w0yd9v {
  border-right-width: 2px;
}
.f1h0xgbp {
  border-left-width: 2px;
}
.fdwcyh7 {
  border-bottom-width: 2px;
}
.fntkm7k {
  border-top-style: dashed;
}
.f1oq6gla {
  border-right-style: dashed;
}
.flpbmyi {
  border-left-style: dashed;
}
.fjbf411 {
  border-bottom-style: dashed;
}
.f1vtfyy1 {
  border-top-color: #f0f;
}
.f1g7g05w {
  border-right-color: #f0f;
}
.f10ibvnv {
  border-left-color: #f0f;
}
.fa31z3g {
  border-bottom-color: #f0f;
}
.f19gwsd {
  border-bottom-right-radius: 5px;
}
.f3xzbnz {
  border-bottom-left-radius: 5px;
}
.f1cxotgb {
  border-top-right-radius: 5px;
}
.fxymw9n {
  border-top-left-radius: 5px;
}
.fl0tjuq {
  -moz-column-gap: 5px;
  column-gap: 5px;
}
.ffmv8ov {
  row-gap: 5px;
}
.f1809wu7 {
  padding-top: 10px;
}
.f81rol6 {
  padding-right: 10px;
}
.frdkuqy {
  padding-left: 10px;
}
.f1fow5ox {
  padding-bottom: 10px;
}
