/** bundle.css **/
@layer r,d,l,v,w,f,i,h,a,s,k,t,myvhjxr,m11rdin7,mc2s5x3,m,c;
@layer m11rdin7 {
  @media (min-width: 1px) {
    .fcnqdeg {
      background-color: green;
    }
  }
}
@layer myvhjxr {
  @media (min-width: 2px) {
    .fe3e8s9 {
      color: olive;
    }
  }
}
/** chunkA.css **/
@layer mc2s5x3 {
  @media (min-width: 3px) {
    .fe3e8s9 {
      color: red;
    }
  }
}
@layer m11rdin7 {
  @media (min-width: 1px) {
    .fe3e8s9 {
      color: green;
    }
  }
}
/** chunkB.css **/
@layer myvhjxr {
  @media (min-width: 2px) {
    .fe3e8s9 {
      color: red;
    }
  }
}
@layer mc2s5x3 {
  @media (min-width: 3px) {
    .fe3e8s9 {
      color: magenta;
    }
  }
}
