name: Changelog
on:
  pull_request:

jobs:
  pr:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v1
        with:
          node-version: '16'

      - run: npx beachball check --changehint "Run 'yarn change' to generate a change file"
