name: Changelog
on:
  pull_request:

jobs:
  pr:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: '14'

      - run: npx beachball check --changehint "Run 'yarn change' to generate a change file"
